@use "./layout/layout";
@use "./mixin/mixin"as*;
@use "./var/var"as*;

header {
    background-color: $color-one;
    z-index: 1000000000000000000;
    transition: 0.5s height;
    height: 100px;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #43454D ;
        .logo {
            display: flex;
            p:first-child {
                color: $color-two;
                margin-right: 12px;
            }
            p {
                color: $color-three;
                font: {
                    size: 32px;
                    weight: 500;
                }
                @include media(max-medium) {
                    font-size: 24px;
                }
                @include media(mobail) {
                    font-size: 18px;
                }
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 73%;
            @include media(mobail) {
                position: absolute;
                left: 0px;
                top: 95px;
                width: 100%;
                flex-direction: column;
                align-items: start;
                background-color: $color-four;
                height: 0px;
                overflow: hidden;
                border-radius: 0px 0px 27px 27px;
                transition: 0.5s height;
            }
            ul {
                list-style: none;
                @include media(mobail) {
                    width: 100%;
                }
                li {
                    margin-right: 15px;
                    display: inline-block;
                    font-size: 24px;
                    color: $color-three;
                    cursor: pointer;
                    &:hover {
                        color: $color-two;
                    }
                    @include media(max-large) {
                        font-size: 20px;
                    }
                    @include media(max-medium) {
                        font-size: 14px;
                    }
                }
                &:first-child {
                    li {
                        @include media(mobail) {
                            display: block;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 55px;
                            border-bottom: 1px solid $color-two;
                        }
                    }
                }
                &:nth-child(2) {
                    @include media (mobail) {
                        text-align: center;
                        margin-bottom: 25px;
                    }
                    li {
                        i {
                            color: $color-two;
                            @include media (mobail) {
                                font-size: 33px;
                            }
                        }
                    }
                }
            }
        }
        .fa-solid.fa-bars {
            display: none;
            @include media(mobail) {
                display: block;
                font-size: 20px;
                color: $color-two;
                cursor: pointer;
            }
        }
    }
}

.Home {
    background-color: $color-one;
    padding: 71px 0px 121px 0px ;
    .container {
        .dev {
            text-align: center;
            p {
                font-size: 117px;
                color: $color-five;
                margin-bottom: 72px;
                @include media(mobail) {
                    font-size: 70px;
                }
            }
        }
        .information {
            margin: auto;
            padding: 29px 23px 0px 23px;
            width: 320px;
            height: 520px;
            border: 4px solid $color-three;
            border-radius: 160px 0px 160px 0px;
            box-shadow: -4px -4px 2px 0px $color-two;
            text-align: center;
            margin-bottom: 55px;
            .img {
                margin: auto;
                width: 96px;
                height: 96px;
                border: 1px solid $color-two;
                border-radius: 50%;
                background-image: url(../img/aymen.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 20px;
            }
            p:nth-child(2) {
                font: {
                    size: 32px;
                    weight: 500;
                }
                color: $color-three;
                margin-bottom: 13px;
            }
            p:nth-child(3) {
                font-size: 14px;
                color: $color-three;
                margin-bottom: 31px;
            }
            .info {
                text-align: start;
                margin-bottom: 19px;
                i {
                    font-size: 14px;
                    color: $color-two;
                }
                p {
                    margin-left: 16px;
                    display: inline-block;
                    font-size: 14px;
                    color: $color-three;
                }
            }
            .skillss {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(2,1fr);
                gap: 17px;
                height: 55px;
                width: 90%;
                .skill {
                    width: 50px;
                    height: 18px;
                    background-color: $color-two;
                    border-radius: 8px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    p {
                        color: $color-one;
                        font-size: 14px;
                    }
                }
            }
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media(max-medium) {
                flex-direction: column;
            }
            .left {
                @include media(max-medium) {
                    margin-bottom: 62px;
                }
                h1 {
                    margin: 0;
                    font-size: 64px;
                    color: $color-three;
                    @include media(mobail) {
                        font-size: 32px;
                    }
                    span {
                        color: $color-two;
                    }
                    margin-left: 15px;
                }
                p:nth-child(3) {
                    margin-bottom: 44px;
                }
                p:nth-child(5) {
                    font-size: 16px;
                    color: $color-three;
                    margin-left: 15px;
                }
                p:nth-child(6) {
                    margin-bottom: 26px;
                }
                .talk {
                    display: flex;
                    align-items: center;
                    margin-left: 15px;
                    p {
                        margin-right: 16px;
                        font: {
                            size: 32px;
                            weight: 500;
                        }
                        color: $color-two;
                    }
                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: #43454D;
                        cursor: pointer;
                        i {
                            font-size: 24px;
                            color: $color-two;
                        }
                    }
                }
            }
            .right {
                padding: 58px 30px;
                width: 215px;
                height: 378px;
                border-radius: 80px;
                background-color: $color-four;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                div {
                    display: flex;
                    align-items: center;
                    p:nth-child(1) {
                        color: $color-two;
                        font: {
                            size: 48px;
                            weight: 500;
                        }
                        margin-right: 19px;
                    }
                    p:nth-child(2) {
                        color: $color-three;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.About-me {
    background-image: url(../img/About-me.jpg);
    padding: 100px 0px 90px 0px ;
    @include media(mobail) {
        padding: 64px 0px 64px 0px;
    }
    .container {
        .scroll-indicator {
            margin-bottom: 100px;
            @include media(mobail) {
                margin-bottom: 60px;
            }
        }
        .about {
            width: 369px;
            height: 104px;
            background-color: $color-one;
            border-radius: 40px 0px 40px 0px;
            border: 4px solid $color-two;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 58px;
            @include media(mobail) {
                width: 224px;
                height: 68px;
                margin: 0 auto 32px auto;
            }
            p {
                font-size: 64px;
                color: $color-three;
                @include media(mobail) {
                    font-size: 32px;
                }
            }
        }
        .content {
            padding: 20px 40px 20px 40px;
            width: 100%;
            background-color: $color-one;
            border-radius: 40px;
            p {
                font-size: 16px;
                color: $color-three;
                br {
                    margin-bottom: 32px;
                }
                span:first-child {
                    font: {
                        size: 32px;
                        weight: 500;
                    } 
                }
                span {
                    color: $color-two;
                }
            }
        }
        .img {
            margin: 123px auto 0 auto;
            width: 462px;
            height: 556px;
            border-radius: 16px;
            background-image: url(../img/Image.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            @include media(mobail) {
                margin: 63px auto 0 auto;
                width: 272px;
                height: 364px;
            }
        }
    }
}

.Skills {
    padding: 115px 0 115px 0;
    position: relative;
    background-image: url(../img/Skills.jpg);
    @include media(max-medium) {
        padding: 62px 0 62px 0;
    }
    .container {
        position: relative;
        z-index: 2;
        .field {
            padding: 17px 0 17px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            width: 296px ;
            height: 132px;
            background-color: $color-five;
            border-left: 8px solid $color-six;
            border-radius: 8px;
            margin-bottom: 90px;
            i {
                font-size: 32px;
                color: $color-one;
            }
            p {
                font-size: 24px;
                color: $color-one;
            }
            p:nth-child(3) {
                font-size: 14px;
            }
        }
        .grid-skills {
            display: grid;
            grid-template-columns: repeat(5,auto);
            grid-template-rows: auto;
            gap: 90px;
            @include media(max-medium) {
                grid-template-columns: repeat(2,auto);
                grid-template-rows:  repeat(3,auto);
                gap: 94px 36px ;
            }
        }
    }
}

.Works {
    padding: 100px 0px 145px 0px;
    position: relative;
    background-image: url(../img/Works.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .back {
        background-color: $color-four;
        opacity: 0.94;
    }
    .container {
        position: relative;
        z-index: 2;
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .arrow {
                cursor: pointer;
                width: 72px;
                height: 72px;
                background-color: $color-one;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                @include media(mobail){
                    width: 36px;
                    height: 36px;
                }
                i {
                    color: $color-three;
                    font-size: 40px;
                    @include media(mobail) {
                        font-size: 20px;
                    }
                }
            }
            .slide {
                width: 649px;
                display: grid;
                grid-template-columns: repeat(10,auto);
                overflow: hidden;
                @include media(max-medium) {
                    width: 480px;
                }
                @include media(mobail) {
                    width: 297px;
                }
                .print {
                    width: inherit;
                    transition: 0.5s transform;
                    .project {
                        width: inherit;
                        position: relative;
                        img:first-child {
                            width: 100%;
                        }
                        .left {
                            position: absolute;
                            left: -4%;
                            top: 12%;
                            width: 58%;
                        }
                        .right {
                            cursor: pointer;
                            position: absolute;
                            width: 45.2%;
                            right: 7.8%;
                            top: 31%;
                            height: 38.6%;
                        }
                        .link {
                            position: absolute;
                            right: 18%;
                            top: 14%;
                            border-bottom: 2px solid $color-three;
                            height: 36px;
                            width: 154px;
                            @include media (max-medium){
                                top: 11%;
                                right: 16%;
                            }
                            @include media (mobail) {
                                width: 105px;
                                height: 25px;
                                top: 8%;
                                right: 13%;
                            }
                            p {
                                display: inline-block;
                                a {
                                    text-decoration: none;
                                    color: $color-two;
                                    font-size: 24px;
                                    @include media (mobail){
                                        font-size: 16px;
                                    }
                                }
                            }
                            i {
                                color: $color-two;
                                font-size: 23px;
                                position: absolute;
                                top: 20px;
                                right: -24px;
                                transform: rotate(-20deg);
                                @include media (mobail) {
                                    font-size: 18px;
                                    top: 11px;
                                    right: -21px;
                                }
                            }
                        }
                    }
                    > p {
                        margin: 30px 0 40px 0;
                        font-size: 25px;
                        color: #FFFFFF;
                        text-align: center;
                    }
                    .ski {
                        width: 100%;
                        margin: auto;
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        justify-content: center;
                        gap: 10px;
                        .skill {
                            @include media (mobail) {
                                div {
                                    width: 90px;
                                    height: 90px;
                                    i {
                                        font-size: 50px;
                                    }
                                }
                                P {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.certificates {
    background-image: url(../img/About-me.jpg);
    padding: 100px 0px 100px 0px ;
    @include media(mobail) {
        padding: 64px 0px 80px 0px;
    }
    .print {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        gap: 20px;
        @include media(max-medium) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,400px);
            gap: 100px;
        }
        div {
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
            p {
                margin-top: 15px;
                font-size: 25px;
                color: #FFFFFF;
                text-align: center;
            }
        }
    }
}

.Contact {
    padding: 61px 0px 61px 0px;
    background-color: $color-four;
    .send {
        margin: auto;
        width: 470px;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 32px 0px 32px 0px;
        border: 2px solid $color-two;
        @include media(mobail){
            width: 325px;
            height: 64px;
        }
        p {
            font-size: 32px;
            color: $color-two;
        }
    }
    .socials {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        @include media(mobail) {
            flex-direction: column;
            align-items: center;
            
        }
        .social {
            cursor: pointer;
            width: 200px;
            height: 50px;
            border-radius: 32px 0px 32px 0px;
            border: 2px solid $color-two;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media(mobail) {
                margin-bottom: 25px;
            }
            p {
                color: $color-three;
                font-size: 16px;
                margin: 0px 25px 0px 25px;
            }
            i {
                color: $color-two;
                font-size: 16px;
            }
        }
    }
}

.up {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    bottom: 30px;
    right: 30px;
    background-color: $color-two;
    color: $color-three;
    display: flex;
    z-index: 1000000000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.6s ease ;
}

.percentage {
    position: fixed;
    bottom: 30px;
    left : 30px;
    width: 60px;
    height: 60px;
    z-index: 100000000;
    background-image: conic-gradient(#12F7D6 0% , white 0%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.6s ease ;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.show-img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000000000000000000;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.3s ease;
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
    }
    img {
        border-radius: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        height: 70%;
        @include media (mobail) {
            width: 85%;
            height: 50%;
        }
    }
    i {
        color: white;
        font-size: 25px;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        left: 97%;
        top: 12%;
        transform: translate(-50%,-50%);
        @include media (mobail) {
            left: 94%;
            top: 22%;
        }
    }
}
@keyframes fadeIn {
    from { opacity: 0 }
    to   { opacity: 1 }
}